<div class="home">
  <video autoPlay loop muted id="background-video">
    <source src="./../../assets/video/tattoo-artist.mp4" type="video/mp4" />
  </video>
  <div class="home-content">
    <div class="home-sec1">
      <div class="text">
        <h1>Tattooing</h1>
        <h1>Is what</h1>
        <h1>We do</h1>
      </div>
      <div class="home-buttons">
        <button class="home-button">
          <div class="btn-txt">Book</div>
          <div class="btn-icn material-icons">arrow_outward</div>
        </button>
        <button class="home-button">
          <div class="btn-txt">Pricing</div>
          <div class="btn-icn material-icons">arrow_outward</div>
        </button>
      </div>
    </div>
    <div class="home-sec2">
      <div class="home-sec2-main">
        <div class="year-info">
          <div>Since</div>
          <h1>/ 02</h1>
        </div>
        <div class="recent-works">
          <img
            src="https://picsum.photos/600/300"
            alt="Random Image from Lorem Picsum"
          />
          <p>Recent Work</p>
          <span class="material-icons">arrow_outward</span>
        </div>
      </div>
      <div class="home-sec2-footer">
        <p>
          <b>Our skilled tatto masters</b> transform each visit into a ritual of
          tradition and sophistication, crafting timeless looks with precision
          and care.
        </p>
        <span class="homesec1-icn material-icons">arrow_downward</span>
      </div>
    </div>
  </div>
</div>
